NEXT_PUBLIC_BASE_PATH=''
BASE_URL=http://localhost:3000
BASE_URL_PROD=https://luzon-central-region3-cis.github.io
BASE_API_URL=http://localhost:3001/api
MAPBOX_USERNAME=mj-acap-map
MAPBOX_BASEMAP_STYLE_ID=mapbox://styles/mj-acap-map/cm3s5b6c3007r01r25dma5qgn
MAPBOX_DATASET_ID=clx166y1w01ko1mmn7ei4glae
MAPBOX_API_KEY=pk.eyJ1IjoibWotYWNhcC1tYXAiLCJhIjoiY2x3em92OTVyMDluYjJqcHQwNzlyZWNkcCJ9.k0TW66kl0SDHyKHzMm0wqA
OPENWEATHERMAP_APPID=d0a4e8d2c5840292a2c37738e6408609
PAGASA_EXCEL_FILE=pagasa_seasonal_v2.xlsx
CROPPING_CALENDAR_RICE_EXCEL_FILE=rice_cropping_calendar.xlsx
CROPPING_CALENDAR_CORN_EXCEL_FILE=corn_cropping_calendar.xlsx
CROPPING_CALENDAR_AMPALAYA_EXCEL_FILE=ampalaya_cropping_calendar.xlsx
CROPPING_CALENDAR_TOMATO_EXCEL_FILE=tomato_cropping_calendar.xlsx
CROPPING_CALENDAR_MUNGBEAN_EXCEL_FILE=mungbean_cropping_calendar.xlsx
CROPPING_CALENDAR_CUCUMBER_EXCEL_FILE=cucumber_cropping_calendar.xlsx
RECOMMENDATIONS_RICE_EXCEL_FILE=rice_recommendations_v4.xlsx
RECOMMENDATIONS_CORN_EXCEL_FILE=corn_recommendations_v3.xlsx
RECOMMENDATIONS_AMPALAYA_EXCEL_FILE=ampalaya_recommendations_v4.xlsx
RECOMMENDATIONS_TOMATO_EXCEL_FILE=tomato_recommendations_v3.xlsx
RECOMMENDATIONS_MUNGBEAN_EXCEL_FILE=mungbean_recommendations_v4.xlsx
RECOMMENDATIONS_CUCUMBER_EXCEL_FILE=cucumber_recommendations_v3.xlsx
REGION_CODE=Region_3
REGION_NAME=central_luzon
REGION_LAT_AND_LNG=15.4828,120.7120
REGIONAL_FIELD_OFFICE=3
REGION_URL=https://rfo3.da.gov.ph/
DEFAULT_PROVINCE=Aurora
DEFAULT_MUNICIPALITY=Casiguran
NEXT_PUBLIC_GEOJSON_URL=default
NEXT_PUBLIC_FIREBASE_WEB_API_KEY=AIzaSyBXXNxxJVuvGhpKesJ1vwi_ImmXzMHDp98
NEXT_PUBLIC_FIREBASE_WEB_AUTHDOMAIN=region3-cis-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_WEB_PROJECT_ID=region3-cis-dev
NEXT_PUBLIC_FIREBASE_WEB_STORAGE_BUCKET=region3-cis-dev.appspot.com
NEXT_PUBLIC_FIREBASE_WEB_MESSAGING_SENDER_ID=2966996332
NEXT_PUBLIC_FIREBASE_WEB_APP_ID=1:2966996332:web:5d5c018c62684901999f49
NEXT_PUBLIC_FIREBASE_WEB_MEASUREMENT_ID=G-VHZYPP25L3
NEXT_PUBLIC_CHECK_RANGE_YEAR=1
# Uncomment this line if using WSL2 on Windows OS
# WATCHPACK_POLLING=true