ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://mywebsite.com,http://yourwebsite.com
LIVE_ORIGIN=http://localhost:3000
PAGASA_10DAY_EXCEL_BASE_URL=https://pubfiles.pagasa.dost.gov.ph/pagasaweb/files/climate/tendayweatheroutlook
FIREBASE_SERVICE_ACC=YOUR-FIREBASE-PROJ-SERVICE-ACCOUNT-JSON-CREDENTIALS-ONE-LINER-NO-SPACES
FIREBASE_PRIVATE_KEY=PRIVATE-KEY-FROM-FIREBASE-SERVICE-ACCOUNT-JSON-WITH-DOUBLE-QUOTES
EMAIL_WHITELIST=superadmin@gmail.com
OPENWEATHERMAP_APPID=d0a4e8d2c5840292a2c37738e6408609
SEMAPHORE_API_KEY=YOUR-OWN-SEMAPHORE-API-KEY
SPECIAL_CHARACTERS=├â┬▒:ñ,â:
ALLOW_CORS=1
SORT_ALPHABETICAL=1
AXIOS_SSL_REJECT_INVALID=1
DEPLOYMENT_PLATFORM=default
REGION_NAME=bicol
PROVINCES=Albay,Camarines Norte,Camarines Sur,Catanduanes,Masbate,Sorsogon
PROVINCES_ARCHIVE=Albay,Camarines Norte,Camarines Sur,Catanduanes,Masbate,Sorsogon
DEFAULT_PROVINCE=Albay
ARCHIVE_TENDAY_FORECAST=1
ACAP_API_KEYS=tohAzztrQkSpFDSAr1tr
CHECK_RANGE_YEAR=1
IS_RMCAS_API_ACTIVE=1
ROOT_API_URL=http://localhost:3001
ROOT_API_URL_VERCEL=http://localhost:3002

# Uncomment these 2 lines if using Docker Desktop and WSL2 on Windows OS
# CHOKIDAR_USEPOLLING=true
# CHOKIDAR_INTERVAL=1000