node_modules/
public/
src/public/
src/scripts/test/
src/scripts/generate-docs/api.js
src/scripts/generate-docs/apidoc.json
src/scripts/generate-docs/templates/header_final.md
.env
.env.dev
.env.prod
.vscode
*.xlsx
*.xls
*.csv
*.pdf
*.zip
*.png
.vercel
